<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto: samwovian18@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/0xivy"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Resume" target="_blank" href="https://0xivy.github.io/Resume/Resume.pdf"><i class="icon fa fa-user-circle-o" aria-hidden="true"></i></a>
      </div>
    <!--
   -----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGHafrsBEADXKeKGDRQ/dmyCavJu7hG1XsWQ4bY1l7r/Xc5kL6Eafm345nrJ
12oYxV6n9cu+j1NFPDZUQ17tKvlCLXaAcU/tygapBN8gLFVBiOgA6XFAsM8+TGqA
vO6dFMZ5mfyHP8bNiSpd8GhZKLZbo/tuxPtO1QP1/s4wpGmGUptNGRHeZsPJ7CKG
5IWoP5RWCihSo2VsuEzAlTQ9yqqoXrVHvcHFtrGk2CV2VjwXQfdcRaptTYR8Mcnf
sIbssHuL29gV3hmBbDcgSr/1LqJLgg48eN6dp5VwOOcZ+icGkUXy2oXVfxA3TrJ7
hqSJw2v6YeVnJxfAcHVzHqwV6lc7wjyBTOUcoAXrTJ/+BfNBS9fVI+P0g3jbH87G
ZX5isloJd5fVq/IazpGhrlaxcBnIz0e6ZlZj3XToKN5pphxkZC/lULxLZX+5cN+u
Y8FiSrvsClCK5i/4gAvJRjJMuLQDXf8eC9OYLKwNFh36fPnbUbJEqGFRMrIVqlqw
HmV1xyJNT+xldVwxsXdUtF2jsNhMo4bTe0AzTz6DrWJx+S/9TVQ7epZGzlFwVCdx
QpzrqpOnfat2fhoXiKa0bI9YRCSgwleq0IDTJ6E6256KJt3WAjDH0E5aOj3vkLGY
JwQiplAVclI09pcClW7HrYWwH82/hzynOGPv4iSk6aBbn6EovtsQ/5t2wwARAQAB
tCBob21vLW1penUgPGhvbW9taXp1QGdheW1haWwuY29tPokCWAQTAQgAQhYhBGvR
M75VtAXAiV858/NvXMd2FAANBQJh2n67AhsDBQkDwmktBQsJCAcCAyICAQYVCgkI
CwIEFgIDAQIeBwIXgAAKCRDzb1zHdhQADRDDD/9FgAas+8sJ+3MtZJJPOOOfVg1b
t1JArHSA3BW5FmZRmIwKOlunE8ZQ9wtNOzDeYXQAdoRC6kVZWT95/sf4VVZewRDp
wvugE3jTMKqWe9IEtJ9PQnXnGopoB7Rukfoqjl20oWNWjqXeF2utgv8+wKj3qERT
C44Kk5RLmtfpgGSFRNEdn15wXS7u/aFCVAXQTUzd7sqHUS4Pcp3Aqvf1ggx/Vzns
ROWMhEbBtWJJfSok619EvPNnR1T5pwVmk5FZ1YsD9FHvu0twcAoJ0nUmbv12OsPD
df4hSg4pCBAT5Xss4ljpEt1fsFHVYawCFeY4Eo6u1Aj1zI14BKgkTrvwKXIqHhM3
IePH9SQFqUGi+lXGjhXPCHtphu6Sdu0JzPIYIf7cWY+5bu2zAMYaQUO8QFoBrAiF
InLs4m4Z5IuRYYgMhTEM7R8P6F8JGx9Jkr9wKAzLvmzqwpYu62W94ow7dewUfrQn
X9ZIMq6c/1KnIBi3Cr0K83eOq86fZvkucOLt1pTv/3IW6YOj8oubtkcbrQXI2Ui4
7Qb/TWkjnSZ67J0RNqz8SKkt2oeXC2WIxqdpvnXxpVp//vI0resuAJn2cLAIz9j6
dFScfI6+2NR5Q4WbHSmk0V/4k6Y7dqMOwSOizuc37BzBGnc2VsD+ezji7ZI/7epC
gKzE23H4ocmx4SAM1LkCDQRh2n67ARAAwf3nvGgbMTz8GCJ+NXLw8WYVwWazXmrY
a7c9dQG/hahyKEmcLeDzPXTehZ7Vko2LI4Fgu5ewK6zNOFocNqiApczWlLAaiTLc
wlFcqRhu+hSFqjiQfP+lkCWzW8tbzLqeTVY2b5BoSlqPx49JBnIgfeYZuYox47Ao
bqGsEF6ZoxcbraOsyJw1OzQvaEt1XS613iyA3uNIuDmc67AChK+YiCmKwRhcqYsd
lIgW/wgnIUApwwb2dAPUkKd2KeIHAdxVH5H5cJeLVpDTgI05iLSGy77YBuLg9jyH
R9UnEU+L2CKh17Jmp2i459tGPTMDTJwnURkI1JyuHlWSB6nMdsNcrHvWWUS/1K13
UAEBAdzhLpyz2fqQW6xPnzxV4cbb3zNLEbrDXYDkgg9TM9YcsNYHz4zH8B/qnBqD
rQr5T2NZ3TlsGlm90Jwb7npLndzg21fn98MVOSyDFIjmgB2Shpe9zIrVvJsMgqHx
Ddt0/HTSEMJACWTQaiDqCBMWSKTaWxXr9BjtGy8jix9cLCedG52EqYL3ULf6T8s4
WhtNxb5RhaihYWuAJdGd6bSlydU3HZOxQ06hsoK81vnQkJNphmph4BQnzk6BEthW
PeVBgPqflx+KlPt/OwwgV/H5tr9ZjTYSjZ3EyoKGmU3jdf5snKPetsKQNMIs/ZgU
yqaZdxHuR2MAEQEAAYkCPAQYAQgAJhYhBGvRM75VtAXAiV858/NvXMd2FAANBQJh
2n67AhsMBQkDwmktAAoJEPNvXMd2FAAN2+YQAIEZmIJijFPB6aFypt8T1R9hk/n/
IN5N+7SNufFf4JVzSWZ/p5gXNHL1EVpjpTQO3tvScSZ0sCJYnn7R6BJ5JvszRiyl
02ZY0VoE55SjjL5VoFz28qTdeWqU6XFrpPkVw5Q0MSVKTaAtjKlnIyQoWKRaYSeU
pulkkKYda20LzaBGytVwKKZ03qgneCt2KIQsZUWgk44Nz/3JoAom9fLFKfgre155
ha1VdO0tGuscuOuRmho4pvx/ytr5oD2/RIMB70FJ30kEV6CPULx3dJY6IWJ/kGXk
jEdMQcj4Sbix7s3V8g5G36IYH7yg5I4k0xaqA5RA5BN6tQrT0VXgvX13XGFO/iXr
9hgqUuHRxBI1dMb1SelIVSolK4qPmpjZDjW9LHJaajsUAT+Eh1LGbE81dvclVn2C
CMjed+y098kqxg0k4VLSYU3mjngZx6I2QYbWkorXZvkOpfITX2RonwBnsQyDD/5U
Ug3+P79mywgvcPFf7vU4zbdzBCIwaMXvEcPeohcutJngjP6NVQstYeyFZx51xjYM
k5J/N0cwkmMo4ipgTHm9egDDvJRuGwdPU3NpoiCfs85pa5OV5JEoIkx2KmWF27qj
8ymvKBAjKENrAy3es9h0eefKyqMYU3vG7vP1zKX/YPW94J6iZ9Y6pCYUu7XOCujh
8GIJqKwgBZj7EcoH
=CVlr
-----END PGP PUBLIC KEY BLOCK------->
    
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
